=begin
#Mailchimp Marketing API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 3.0.80
Contact: apihelp@mailchimp.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.12

=end

require 'uri'

module MailchimpMarketing
  class SurveysApi
    attr_accessor :api_client

    def initialize(api_client)
      @api_client = api_client
    end

    # Publish a Survey
    def publish_survey(list_id, survey_id, opts = {})
      fail ArgumentError, "Missing required param: 'list_id'" if list_id.nil?
      fail ArgumentError, "Missing required param: 'survey_id'" if survey_id.nil?

      query_params = {}
      post_body = nil

      local_var_path = '/lists/{list_id}/surveys/{survey_id}/actions/publish'.sub('{' + 'list_id' + '}', list_id.to_s).sub('{' + 'survey_id' + '}', survey_id.to_s)
      data = @api_client.call_api(:POST, local_var_path,
        :query_params => query_params,
        :body => post_body)
      return data
    end

    # Unpublish a Survey
    def unpublish_survey(list_id, survey_id, opts = {})
      fail ArgumentError, "Missing required param: 'list_id'" if list_id.nil?
      fail ArgumentError, "Missing required param: 'survey_id'" if survey_id.nil?

      query_params = {}
      post_body = nil

      local_var_path = '/lists/{list_id}/surveys/{survey_id}/actions/unpublish'.sub('{' + 'list_id' + '}', list_id.to_s).sub('{' + 'survey_id' + '}', survey_id.to_s)
      data = @api_client.call_api(:POST, local_var_path,
        :query_params => query_params,
        :body => post_body)
      return data
    end
  end
end
